*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

ul{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 30px;
}

li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

a{  
    font-weight: 100;
    text-decoration: none;
    color: black;
}

a:hover{
    color: steelblue;
}


/* seccion del main */

h1{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 10px;
}

.contenedor1-AcercaDeMi{
    margin-bottom: 20px;
    margin-top: 20px;
}

.div-Presentacion{
    padding: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h1-MiguelGonzalez{  
    font-size: 30px;  
    font-style: normal;  
    margin-bottom: 0px;                                   
}

.img-FotoDePerfil{
    width: 100%;
}

.boton-cv{
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.boton-cv:hover{
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    background-color: white;
    color: black;
}

.contenedor2-InformacionPersonal{
    margin-bottom: 20px;
    margin-top: 20px;
}

.div-InformacionPersonal{
    padding: 50px;
    padding-top: 0px;
}

.div-FichaPersonal{
    /* padding: 50px; */
    padding-top: 0px;
}

.img-fichapersonal{
    width: 100%;
}


.contenedor3-Videos{
    background-color: black;
    color: white;
}

.div-DescripcionTrabajo{
    padding: 50px;
}

.div-slider{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.div-portadas-videos{
    display: flex;
    height: 640px;
    width: 100%;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.div-portadas-videos img{
    width: 360px;
    object-fit: cover;

    scroll-snap-align: center;
    z-index: 1;
}

.a-videos-ver-ahora{
    z-index: 2;
    padding: 20px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
}

.a-videos-ver-ahora:hover{
    transition: 0.3s;
    box-shadow: 0 1px 5px rgb(255, 255, 255);
    background-color: black;
    color: white;
}

/* seccion del main */

.contenedor4-footer{
    padding: 50px;
    background-color: black;
    color: white;
}

.p-footer{
    font-size: 16px;
    margin-bottom: 20px;
}

.links{
    font-size: 16px;
    color: white;
}

.p-copyright{
    margin-top: 20px;
    font-size: 12px;
    border-top: 1px solid white;
    padding-top: 20px;
}

.correo-footer{
    font-size: 16px;
    color: white;
    font-weight: 100;
    margin-top: 20px;
}



@media(min-width: 768px){
    .contenedor1-AcercaDeMi{
        display: flex;
        justify-content: center;
    }

    .div-img-FotoDePerfil{
        width: 60%;
    }

    .div-InformacionPersonal{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .div-extra-InformacionPersonal{
        display: flex;
        flex-direction: column;
    }

    .div-FichaPersonal{
        width: 40%;
    }

    .p-DescripcionAcercaDeMi{
        width: 300px;
    }

    .div-DescripcionTrabajo{
        padding: 80px;
    }

    .contenedor4-footer{
        padding: 130px;
    }
}




@media(min-width: 1024px){
    .contenedor1-AcercaDeMi{
        display: flex;
        justify-content: center;
    }

    .div-img-FotoDePerfil{
        width: 40%;
    }

    .div-InformacionPersonal{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .div-extra-InformacionPersonal{
        display: flex;
        flex-direction: column;
    }

    .div-FichaPersonal{
        width: 25%;
    }

    .p-DescripcionAcercaDeMi{
        width: 400px;
    }

    .div-DescripcionTrabajo{
        padding: 130px;
    }

    .contenedor4-footer{
        padding: 130px;
    }
}